$primary: rgb(77, 77, 77);

$font-light: #fff;
$font-grey: #5cdb95;
$font-dark: rgb(155, 23, 23);

$border-light: #dbdfd5;
$border-grey-light: #a7a7a7;
$border-grey: #edf5e1;

$background-ligth: #fff;
$background-grey-light: #eee;
$background-grey: #a7a7a7;
$background-grey-dark: #379683ef;
$background-dark: #8ee4af;
$background-dark-absolute: #05386b;

$success: #379683;
